In [1]:

#display all the header tags from wikipedia.org.



import  requests
from  bs4 import BeautifulSoup
import pandas as pd

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)
header_tags = soup.find_all(['h1','h2','h3','h4','h5','h6'])
header_tags

ab = []
for abc in header_tags:
    abc = abc.get_text().split('\n')
    ab.append(abc)
    
ab

[['Main Page'],
 ["From today's featured article"],
 ['Did you know\xa0...'],
 ['In the news'],
 ['On this day'],
 ["Today's featured picture"],
 ['Other areas of Wikipedia'],
 ["Wikipedia's sister projects"],
 ['Wikipedia languages'],
 ['Navigation menu'],
 ['', 'Personal tools', ''],
 ['', 'Namespaces', ''],
 ['', 'Variants', 'expanded', 'collapsed', ''],
 ['', 'Views', ''],
 ['', 'More', 'expanded', 'collapsed', ''],
 ['', 'Search', ''],
 ['', 'Navigation', ''],
 ['', 'Contribute', ''],
 ['', 'Tools', ''],
 ['', 'Print/export', ''],
 ['', 'In other projects', ''],
 ['', 'Languages', '']]

In [2]:
#IMDB’s Top rated 100 movies#




import  requests
from  bs4 import BeautifulSoup
import pandas as pd
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
soup = BeautifulSoup(page.content)
movie_name = []
movie_name = soup.find_all('h3',class_="lister-item-header")
movie_name

movies = []
for movie in movie_name:
    movie = movie.get_text().split('\n')[2]
    movies.append(movie)
movies

year_release = []
year_release = soup.find_all('span', class_="lister-item-year text-muted unbold")
year_release

year = []
for year_of_release in year_release:
    year_of_release = year_of_release.get_text().replace('\n','')
    year.append(year_of_release)
year
    
ratings_scraped = []
ratings_scraped = soup.find_all('div', class_="inline-block ratings-imdb-rating")
ratings_scraped

ratings = []
for rating in ratings_scraped:
    rating = rating.get_text().split('\n')[2]
    ratings.append(rating)
ratings


import pandas as pd
df = pd.DataFrame({'movies':movies,'year':year,'ratings':ratings})
df

                                               movies    year ratings
0                            The Shawshank Redemption  (1994)     9.3
1                                       The Godfather  (1972)     9.2
2                                     The Dark Knight  (2008)     9.0
3                              The Godfather: Part II  (1974)     9.0
4                                        12 Angry Men  (1957)     9.0
5       The Lord of the Rings: The Return of the King  (2003)     8.9
6                                        Pulp Fiction  (1994)     8.9
7                                    Schindler's List  (1993)     8.9
8                                           Inception  (2010)     8.8
9                                          Fight Club  (1999)     8.8
10  The Lord of the Rings: The Fellowship of the Ring  (2001)     8.8
11                                       Forrest Gump  (1994)     8.8
12                    Il buono, il brutto, il cattivo  (1966)     8.8
13              The Lord of the Rings: The Two Towers  (2002)     8.7
14                                         The Matrix  (1999)     8.7
15                                         Goodfellas  (1990)     8.7
16     Star Wars: Episode V - The Empire Strikes Back  (1980)     8.7
17                    One Flew Over the Cuckoo's Nest  (1975)     8.7
18                                       Gisaengchung  (2019)     8.6
19                                       Interstellar  (2014)     8.6
20                                     Cidade de Deus  (2002)     8.6
21                      Sen to Chihiro no kamikakushi  (2001)     8.6
22                                Saving Private Ryan  (1998)     8.6
23                                     The Green Mile  (1999)     8.6
24                                    La vita è bella  (1997)     8.6
25                                              Se7en  (1995)     8.6
26                           The Silence of the Lambs  (1991)     8.6
27                                          Star Wars  (1977)     8.6
28                                            Seppuku  (1962)     8.6
29                               Shichinin no samurai  (1954)     8.6
30                              It's a Wonderful Life  (1946)     8.6
31                                           Whiplash  (2014)     8.5
32                                   The Intouchables  (2011)     8.5
33                                       The Prestige  (2006)     8.5
34                                       The Departed  (2006)     8.5
35                                        The Pianist  (2002)     8.5
36                                          Gladiator  (2000)     8.5
37                                 American History X  (1998)     8.5
38                                 The Usual Suspects  (1995)     8.5
39                                               Léon  (1994)     8.5
40                                      The Lion King  (1994)     8.5
41                         Terminator 2: Judgment Day  (1991)     8.5
42                              Nuovo Cinema Paradiso  (1988)     8.5
43                                     Hotaru no haka  (1988)     8.5
44                                 Back to the Future  (1985)     8.5
45                       Once Upon a Time in the West  (1968)     8.5
46                                             Psycho  (1960)     8.5
47                                        Rear Window  (1954)     8.5
48                                         Casablanca  (1942)     8.5
49                                       Modern Times  (1936)     8.5

In [3]:

 ##IMDB’s Top rated 100 indian movies


import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
soup = BeautifulSoup(page.content)
movie_name = []
movie_name = soup.find_all('td' ,class_="titleColumn")
movie_name

movies = []
for movie in movie_name:
    movie = movie.get_text().split('\n')[2]
    movies.append(movie)
movies

year_release = []
year_release = soup.find_all('span', class_="secondaryInfo")
year_release

year = []
for year_of_release in year_release:
    year_of_release = year_of_release.get_text().replace('\n','')
    year.append(year_of_release)
year
    
ratings_scraped = []
ratings_scraped = soup.find_all('td', class_="ratingColumn imdbRating")
ratings_scraped

ratings = []
for rating in ratings_scraped:
    rating = rating.get_text().split('\n')[1]
    ratings.append(rating)
ratings

import pandas as pd
df = pd.DataFrame({'movies':movies,'year':year,'ratings':ratings})
df

                               movies    year ratings
0                            Jai Bhim  (2021)     8.6
1                             Nayakan  (1987)     8.5
2                   Pariyerum Perumal  (2018)     8.5
3                          Anbe Sivam  (2003)     8.5
4                   C/o Kancharapalem  (2018)     8.5
..                                ...     ...     ...
245                          C U Soon  (2020)     7.6
246                             Aamir  (2008)     7.6
247                             Earth  (1998)     7.6
248        Detective Byomkesh Bakshy!  (2015)     7.6
249                       Madras Cafe  (2013)     7.6

[250 rows x 3 columns]

In [4]:
#Top 10 ODI teams in men’s cricket



import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

a = []
a = soup.find_all('span', class_="u-hide-phablet")
a

ab = []
for abc in a:
    abc = abc.get_text().split('\n')[0]
    ab.append(abc)
ab
team_name=ab[0:10]


team_name#imp


matches = []
matches = soup.find_all('td', class_="rankings-block__banner--matches")
matches

a_match = []
for a_c in matches:
    a_c = a_c.get_text().split('\n')[0]
    a_match.append(a_c)
    
a_match

a_matches = []
a_matches = soup.find_all('td', class_="table-body__cell u-center-text")
a_matches

ab_match = []
for a_m in a_matches:
    a_m = a_m.get_text().split('\n')
    ab_match.append(a_m)
    
ab_match

point = []
team_point = []
team_point = soup.find_all('td',class_="rankings-block__banner--points" )
team_point

for r in team_point:
    r = r.get_text().split('\n')[0]
point.append(r)  
    
point

matche_played = ab_match[::2]

matche_played

matches_played = a_match + matche_played

matches_played  
m=matches_played[0:10]  

m

points = ab_match[1::2]
points
team_points = point + points


team_points

t = team_points[0:10] 

t

rating = []
team_rating = []
team_rating = soup.find_all('td',class_="rankings-block__banner--rating u-text-right" )
team_rating

for r in team_rating:
    r = r.get_text().split('\n')[1]
    rating.append(r)    
rating



team_ratings = []
team_ratings = soup.find_all('td',class_="table-body__cell u-text-right rating" )
team_ratings

for ra in team_ratings:
    ra = ra.get_text().split('\n')[0]
    rating.append(ra)

    
rating
ratings=rating[0:10]
ratings


import pandas as pd
df = pd.DataFrame({'team':team_name,'matches':m ,'points':t,'ratings':ratings})
df

           team matches   points                          ratings
0   New Zealand      17    2,054                              121
1       England    [32]  [3,793]                              119
2     Australia    [28]  [3,244]                              116
3         India    [32]  [3,624]                              113
4  South Africa    [25]  [2,459]                               98
5      Pakistan    [27]  [2,524]                               93
6    Bangladesh    [30]  [2,740]                               91
7   West Indies    [30]  [2,523]                               84
8     Sri Lanka    [32]  [2,657]                               83
9   Afghanistan    [17]  [1,054]                               62

In [5]:
##Top 10 ODI teams in men’s cricket


import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

a = []
a = soup.find_all('span', class_="u-hide-phablet")
a

ab = []
for abc in a:
    abc = abc.get_text().split('\n')[0]
    ab.append(abc)
ab
team_name=ab[0:10]


team_name#imp


matches = []
matches = soup.find_all('td', class_="rankings-block__banner--matches")
matches

a_match = []
for a_c in matches:
    a_c = a_c.get_text().split('\n')[0]
    a_match.append(a_c)
    
a_match

a_matches = []
a_matches = soup.find_all('td', class_="table-body__cell u-center-text")
a_matches

ab_match = []
for a_m in a_matches:
    a_m = a_m.get_text().split('\n')
    ab_match.append(a_m)
    
ab_match

point = []
team_point = []
team_point = soup.find_all('td',class_="rankings-block__banner--points" )
team_point

for r in team_point:
    r = r.get_text().split('\n')[0]
point.append(r)  
    
point

matche_played = ab_match[::2]

matche_played

matches_played = a_match + matche_played

matches_played  
m=matches_played[0:10]  

m

points = ab_match[1::2]
points
team_points = point + points


team_points

t = team_points[0:10] 

t

rating = []
team_rating = []
team_rating = soup.find_all('td',class_="rankings-block__banner--rating u-text-right" )
team_rating

for r in team_rating:
    r = r.get_text().split('\n')[1]
    rating.append(r)    
rating



team_ratings = []
team_ratings = soup.find_all('td',class_="table-body__cell u-text-right rating" )
team_ratings

for ra in team_ratings:
    ra = ra.get_text().split('\n')[0]
    rating.append(ra)

    
rating
ratings=rating[0:10]
ratings


import pandas as pd
df = pd.DataFrame({'team':team_name,'matches':m ,'points':t,'ratings':ratings})
df

           team matches   points                          ratings
0   New Zealand      17    2,054                              121
1       England    [32]  [3,793]                              119
2     Australia    [28]  [3,244]                              116
3         India    [32]  [3,624]                              113
4  South Africa    [25]  [2,459]                               98
5      Pakistan    [27]  [2,524]                               93
6    Bangladesh    [30]  [2,740]                               91
7   West Indies    [30]  [2,523]                               84
8     Sri Lanka    [32]  [2,657]                               83
9   Afghanistan    [17]  [1,054]                               62

In [6]:
# Top 10 ODI Batsmen in men

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page.content)


a_pname = []
a_pname = soup.find_all('div', class_="rankings-block__banner--name")
a_pname

a = []
for ab in a_pname:
    ab = ab.get_text().split('\n')
    a.append(ab)
name=[]    
name=a[0]
name


ab_pname = []
ab_pname = soup.find_all('td' ,class_="table-body__cell name")
ab_pname

b = []
for abc in ab_pname:
    abc = abc.get_text().split('\n')[1]
    b.append(abc)
    
b

bx=b[0:9]
bx
p = name + bx

p      ####imp



country = []
country = soup.find_all('div', class_="rankings-block__banner--nationality")
country

a_country = []
for a_c in country:
    a_c = a_c.get_text().split('\n')[2]
    a_country.append(a_c)
    
a_country

team = a_country[0:1]

team

bcountry = []
bcountry = soup.find_all('span', class_="table-body__logo-text")
bcountry

d = []
for xy in bcountry:
    xy = xy.get_text().split('\n')[0]
    d.append(xy)
    
d
count=d[0:9]

count
tn= team+count
tn



tn       #imp


rating = []
rating = soup.find_all('div', class_="rankings-block__banner--rating")
rating

a_rating = []
for a_r in rating:
    a_r = a_r.get_text().split('\n')
    a_rating.append(a_r)
    
a_rating
ar_rating = a_rating[0:1]
ar_rating


brating = []
brating = soup.find_all('td', class_="table-body__cell u-text-right rating")
brating

firstr = []
b_rating = []
for b_r in brating:
    b_r = b_r.get_text().split('\n')
    firstr.append(b_r)
    
firstr
f_rating = firstr[0:9]

f_rating

r=ar_rating + f_rating
r#imp



import pandas as pd
df = pd.DataFrame({'name':p,'country':tn,'rating':r})
df

              name country rating
0       Babar Azam     PAK  [873]
1      Virat Kohli     IND  [844]
2     Rohit Sharma     IND  [813]
3      Ross Taylor      NZ  [801]
4      Aaron Finch     AUS  [779]
5   Jonny Bairstow     ENG  [775]
6     David Warner     AUS  [762]
7        Shai Hope      WI  [758]
8  Kane Williamson      NZ  [754]
9  Quinton de Kock      SA  [743]

In [7]:
#Top 10 ODI bowlers along men
import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page.content)


a_pname = []
a_pname = soup.find_all('div', class_="rankings-block__banner--name")
a_pname

a = []
for ab in a_pname:
    ab = ab.get_text().split('\n')
    a.append(ab)
name=[]    
name=a[1]
name


ab_pname = []
ab_pname = soup.find_all('td' ,class_="table-body__cell name")
ab_pname

b = []
for abc in ab_pname:
    abc = abc.get_text().split('\n')[1]
    b.append(abc)
    
b

bx=b[9:18]
bx
p = name + bx

p  #imp



country = []
country = soup.find_all('div', class_="rankings-block__banner--nationality")
country

a_country = []
for a_c in country:
    a_c = a_c.get_text().split('\n')[2]
    a_country.append(a_c)
    
a_country

team = a_country[1:2]

team

bcountry = []
bcountry = soup.find_all('span', class_="table-body__logo-text")
bcountry

d = []
for xy in bcountry:
    xy = xy.get_text().split('\n')[0]
    d.append(xy)
    
d
count=d[9:18]

count
tn= team+count


tn#####imp

rating = []
rating = soup.find_all('div', class_="rankings-block__banner--rating")
rating

a_rating = []
for a_r in rating:
    a_r = a_r.get_text().split('\n')
    a_rating.append(a_r)
    
a_rating
ar_rating = a_rating[1:2]
ar_rating


brating = []
brating = soup.find_all('td', class_="table-body__cell u-text-right rating")
brating

firstr = []
b_rating = []
for b_r in brating:
    b_r = b_r.get_text().split('\n')
    firstr.append(b_r)
    
firstr
f_rating = firstr[9:18]

f_rating

r=ar_rating + f_rating
r#imp



import pandas as pd
df = pd.DataFrame({'name':p,'country':tn,'rating':r})
df

               name country rating
0       Trent Boult      NZ  [737]
1    Josh Hazlewood     AUS  [709]
2  Mujeeb Ur Rahman     AFG  [708]
3      Chris Woakes     ENG  [700]
4      Mehedi Hasan     BAN  [692]
5        Matt Henry      NZ  [691]
6    Jasprit Bumrah     IND  [679]
7    Mitchell Starc     AUS  [652]
8   Shakib Al Hasan     BAN  [650]
9     Kagiso Rabada      SA  [643]

In [8]:
#Top 10 ODI teams in women’s

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.content)



a = []
a = soup.find_all('span', class_="u-hide-phablet")
a

ab = []
for abc in a:
    abc = abc.get_text().split('\n')[0]
    ab.append(abc)
    
team_name = ab[0:10]

team_name  #imp

matches = []
matches = soup.find_all('td', class_="rankings-block__banner--matches")
matches

a_match = []
for a_c in matches:
    a_c = a_c.get_text().split('\n')[0]
    a_match.append(a_c)
    
a_match




a_matches = []
a_matches = soup.find_all('td', class_="table-body__cell u-center-text")
a_matches

ab_match = []
for a_m in a_matches:
    a_m = a_m.get_text().split('\n')
    ab_match.append(a_m)
    
ab_match

point = []
team_point = []
team_point = soup.find_all('td',class_="rankings-block__banner--points" )
team_point

for r in team_point:
    r = r.get_text().split('\n')[0]
point.append(r)  
    
point

matche_played = ab_match[::2]

matche_played

matches_played = a_match + matche_played

matches_played  
m=matches_played[0:10]  

m#imp

points = ab_match[1::2]
points
team_points = point + points


team_points

t = team_points[0:10] 

t


m
rating = []
team_rating = []
team_rating = soup.find_all('td',class_="rankings-block__banner--rating u-text-right" )
team_rating

for r in team_rating:
    r = r.get_text().split('\n')[1]
    rating.append(r)    
rating



team_ratings = []
team_ratings = soup.find_all('td',class_="table-body__cell u-text-right rating" )
team_ratings

for ra in team_ratings:
    ra = ra.get_text().split('\n')[0]
    rating.append(ra)

    
rating
ratings=rating[0:10]
ratings

#imp


import pandas as pd
df = pd.DataFrame({'team':team_name,'matches':m ,'points':t,'ratings':ratings})
df

           team matches   points                          ratings
0     Australia      17    2,746                              162
1  South Africa    [19]  [2,307]                              121
2       England    [18]  [2,148]                              119
3         India    [17]  [1,899]                              112
4    Bangladesh     [5]    [475]                               95
5   New Zealand    [19]  [1,668]                               88
6   West Indies    [19]  [1,658]                               87
7      Pakistan    [18]  [1,226]                               68
8       Ireland     [5]    [240]                               48
9     Sri Lanka     [5]    [233]                               47

In [9]:
#Top 10 women’s ODI Batsmen

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.content)


a_pname = []
a_pname = soup.find_all('div', class_="rankings-block__banner--name")
a_pname

a = []
for ab in a_pname:
    ab = ab.get_text().split('\n')[0]
    a.append(ab)
name=[]    
name=a[0:1]
name

ab_pname = []
ab_pname = soup.find_all('td' ,class_="table-body__cell name")
ab_pname

b = []
for abc in ab_pname:
    abc = abc.get_text().split('\n')[1]
    b.append(abc)
    
b
bx=b[0:9]
bx
p = name + bx
p


country = []
country = soup.find_all('div', class_="rankings-block__banner--nationality")
country

a_country = []
for a_c in country:
    a_c = a_c.get_text().split('\n')[2]
    a_country.append(a_c)
    
a_country

team = a_country[0:1]

team

bcountry = []
bcountry = soup.find_all('span', class_="table-body__logo-text")
bcountry

d = []
for xy in bcountry:
    xy = xy.get_text().split('\n')[0]
    d.append(xy)
    
d
count=d[0:9]

count
tn= team+count
tn



tn       #imp


rating = []
rating = soup.find_all('div', class_="rankings-block__banner--rating")
rating

a_rating = []
for a_r in rating:
    a_r = a_r.get_text().split('\n')
    a_rating.append(a_r)
    
a_rating
ar_rating = a_rating[0:1]
ar_rating


brating = []
brating = soup.find_all('td', class_="table-body__cell u-text-right rating")
brating

firstr = []
b_rating = []
for b_r in brating:
    b_r = b_r.get_text().split('\n')
    firstr.append(b_r)
    
firstr
f_rating = firstr[0:9]

f_rating

r=ar_rating + f_rating
r#imp



import pandas as pd
df = pd.DataFrame({'name':p,'country':tn,'rating':r})
df

                name country rating
0        Lizelle Lee      SA  [761]
1       Alyssa Healy     AUS  [750]
2        Mithali Raj     IND  [738]
3     Tammy Beaumont     ENG  [728]
4  Amy Satterthwaite      NZ  [717]
5    Smriti Mandhana     IND  [710]
6        Meg Lanning     AUS  [699]
7        Beth Mooney     AUS  [690]
8    Stafanie Taylor      WI  [676]
9     Heather Knight     ENG  [674]

In [10]:
#Top 10 women’s ODI all-rounder

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.content)


a_pname = []
a_pname = soup.find_all('div', class_="rankings-block__banner--name")
a_pname

a = []
for ab in a_pname:
    ab = ab.get_text().split('\n')[0]
    a.append(ab)
name=[]    
name=a[2]
name

#
ab_pname = []
ab_pname = soup.find_all('td' ,class_="table-body__cell name")
ab_pname

b = []
for abc in ab_pname:
    abc = abc.get_text().split('\n')[1]
    b.append(abc)
    
b
bx=b[18:27]
bx
p = a + bx

p.remove('Lizelle Lee')
p.remove('Jess Jonassen')

p#imp


country = []
country = soup.find_all('div', class_="rankings-block__banner--nationality")
country

a_country = []
for a_c in country:
    a_c = a_c.get_text().split('\n')[2]
    a_country.append(a_c)
    
a_country



bcountry = []
bcountry = soup.find_all('span', class_="table-body__logo-text")
bcountry

d = []
for xy in bcountry:
    xy = xy.get_text().split('\n')[0]
    d.append(xy)
    
d
count=d[18:27]

count
tn= a_country+count
tn
tn.pop(0)
tn.pop(0)



tn#imp
rating = []
rating = soup.find_all('div', class_="rankings-block__banner--rating")
rating

a_rating = []
for a_r in rating:
    a_r = a_r.get_text().split('\n')
    a_rating.append(a_r)
    
a_rating
ar_rating = a_rating[2]
ar_rating


brating = []
brating = soup.find_all('td', class_="table-body__cell u-text-right rating")
brating

firstr = []
b_rating = []
for b_r in brating:
    b_r = b_r.get_text().split('\n')
    firstr.append(b_r)
    
firstr
f_rating = firstr[18:27]

f_rating

r=a_rating + f_rating
r.pop(0)
r.pop(0)


r  #imp
import pandas as pd
df = pd.DataFrame({'name':p,'country':tn,'rating':r})
df

               name country rating
0    Marizanne Kapp      SA  [384]
1    Natalie Sciver     ENG  [372]
2      Ellyse Perry     AUS  [365]
3   Stafanie Taylor      WI  [319]
4     Deepti Sharma     IND  [299]
5  Ashleigh Gardner     AUS  [275]
6  Dane van Niekerk      SA  [274]
7   Hayley Matthews      WI  [272]
8     Jess Jonassen     AUS  [272]
9   Katherine Brunt     ENG  [272]

In [11]:
#A python program to scrape details of all the posts from coreyms.com.

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://coreyms.com/')
soup = BeautifulSoup(page.content)



a = []
a = soup.find_all('header', class_="entry-header")
a

ab = []
for abc in a:
    abc = abc.get_text().split('\n')[0]
    ab.append(abc)
    

ab
#heading


b = []
b = soup.find_all('time', class_="entry-time")
b

bb = []
for bbc in b:
    bbc = bbc.get_text().split('\n')
    bb.append(bbc)
    
bb#date




c = []
c = soup.find_all('div', class_="entry-content")
c

cb = []
for cbc in c:
    cbc = cbc.get_text().split('\n')
    cb.append(cbc)
    
cb 
cb#content



d = []
d = soup.find_all('iframe', class_="youtube-player")
d

vedio = []
for i in d:
    vedio.append(i['src'])
    
vedio
vedio.insert(4,'NA')

vedio

import pandas as pd
df = pd.DataFrame({'HEADING':ab,'DATE':bb,'CONTENT':cb,'CODE FOR YOUTUBE VEDIO':vedio})
df

,HEADING,DATE,CONTENT,CODE FOR YOUTUBE VEDIO
0,Python Tutorial: Zip Files – Creating and Extr...,"[November 19, 2019]","[, In this video, we will be learning how to c...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"[October 17, 2019]","[, In this Python Programming video, we will b...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"[September 21, 2019]","[, In this Python Programming video, we will b...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"[September 12, 2019]","[, In this Python Programming video, we will b...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"[September 3, 2019]","[, Hey everyone. I wanted to give you an updat...",NA
5,Python Quick Tip: The Difference Between “==” ...,"[August 6, 2019]","[, In this Python Programming Tutorial, we wil...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"[July 24, 2019]","[, In this Python Programming Tutorial, we wil...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"[May 1, 2019]","[, In this Python Programming Tutorial, we wil...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"[May 1, 2019]","[, In this Python Programming Tutorial, we wil...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"[April 24, 2019]","[, In this Python Programming Tutorial, we wil...",https://www.youtube.com/embed/_JGmemuINww?vers...

In [12]:
#a python program to scrape house details from nobroker.in.

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.nobroker.in/property/sale/mumbai/Thane%20West?searchParam=W3sibGF0IjoxOS4yNDY3MjE4LCJsb24iOjcyLjk3NTk3MTMsInBsYWNlSWQiOiJDaElKNjQwYUNCSzU1enNSaWZwc0V5U1kydU0iLCJwbGFjZU5hbWUiOiJUaGFuZSBXZXN0In1d&radius=2.0&city=mumbai&locality=Thane%20West')
soup = BeautifulSoup(page.content)

a = []
a = soup.find_all('a', class_="nb__U5JyW")
a
ab = []
for abc in a:
    abc = abc.get_text().split('\n')[0]
    ab.append(abc)
    
ab
ht = ab[0:10]


ht#imp



b = []
b = soup.find_all('div', class_="nb__1EwQz")
b

bb = []
for bbc in b:
    bbc = bbc.get_text().split('\n')[0:10]
    bb.append(bbc)
    
bb
l = bb[0:10]
l

d = []
d = soup.find_all('div' ,class_="font-semi-bold heading-6")
d

db = []
for dbc in d:
    dbc = dbc.get_text().split('\n')
    db.append(dbc)
    
db
area = db[::3]
a = area[0:10]

emi = db[1::3]
e = emi[0:10]

price = db[2::3]
p = price[0:10]


import pandas as pd
df = pd.DataFrame({'HOUSE TITLE':ht,'LOCATION':l,'AREA':a,'EMI':e,'PRICE':p})
df

,HOUSE TITLE,LOCATION,AREA,EMI,PRICE
0,3 BHK Flat For Sale In Acme Oakwood And Ashw...,[.Khewra circle Near Hirandani Medows],"[1,300 sqft]",[₹1 Lacs/Month],[₹1.75 Crores]
1,3 BHK Apartment For Sale In Tata Glendale In...,"[Tata Glendale Vasant Vihar, Thane West]","[1,323 sqft]",[₹1.58 Lacs/Month],[₹2.75 Crores]
2,1 BHK Flat For Sale In Payal Chs In Thane West,"[New Shakti Mill Bus Stop, Near Vikas Palms, D...",[505 sqft],"[₹31,522/Month]",[₹55 Lacs]
3,2 BHK Apartment For Sale In Lodha Paradise I...,"[lodha paradise Bhiwandi Bypass Road,Near Dou...",[625 sqft],"[₹44,705/Month]",[₹78 Lacs]
4,"3 BHK Apartment For Sale In Lodha Splendora,...","[Lodha Splendora, Tierra OPP to puranic city ]","[1,170 sqft]","[₹60,753/Month]",[₹1.06 Crores]
5,2 BHK Flat For Sale In Raymond Ten X Habitat...,"[Gokhale Rd,]",[669 sqft],"[₹65,338/Month]",[₹1.14 Crores]
6,1 BHK Flat For Sale In Raymond Realty Tenx I...,"[Jekegram Pokharan Rd Number 1, Thane, ]",[566 sqft],"[₹50,459/Month]",[₹88.04 Lacs]
7,1 BHK Flat For Sale In Hiranandani Srushti C...,"[ Shrusti-3, Hiranandani Estate, Thane West, T...",[640 sqft],"[₹37,254/Month]",[₹65 Lacs]
8,2 BHK Apartment For Sale In Kalpataru Hills ...,"[Kalpataru Hills Tikuji Ni Wadi Rd, Hill Gar...",[690 sqft],"[₹68,777/Month]",[₹1.2 Crores]
9,2 BHK Apartment For Sale In Lodha Paradise C...,[Lodha paradise CHS Opp Lodha World school Ne...,"[1,100 sqft]","[₹69,350/Month]",[₹1.21 Crores]

In [13]:
#a python program to scrape mentioned details from dineout.co.in

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)

a = []
a = soup.find_all('div', class_="restnt-info cursor")
a

ab = []
for abc in a:
    abc = abc.get_text().split('\n')
    ab.append(abc)
    
ab#name



b = []
b = soup.find_all('div',class_='restnt-loc ellipsis')
b

bb = []
for bbc in b:
    bbc = bbc.get_text().split('\n')
    bb.append(bbc)
    
bb #location


c = []
c = soup.find_all('span',class_="double-line-ellipsis")
c

cb = []
for cbc in c:
    cbc = cbc.get_text().split('|')[1]
    cb.append(cbc)
    
cb #cuisine

d = []
d = soup.find_all('img', class_='no-img')
d

db = []
for dbc in d:
    db.append(dbc['data-src'])
    
db#images url


e = []
e = soup.find_all('div', class_="restnt-rating rating-4")
e

eb = []
for ebc in e:
    ebc = ebc.get_text().split('\n')
    eb.append(ebc)
    
eb#rating


import pandas as pd
df = pd.DataFrame({'restaurant name':ab,'cuisine':cb,'location':bb,'rating':eb,'image url':db})
df

,restaurant name,cuisine,location,rating,image url
0,"[Castle BarbequeConnaught Place, Central Delhi]","Chinese, North Indian","[Connaught Place, Central Delhi]",[3.5],https://im1.dineout.co.in/images/uploads/resta...
1,"[Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sou...","North Indian, Barbecue, Italian, Asian","[3CS Mall,Lajpat Nagar - 3, South Delhi]",[3.9],https://im1.dineout.co.in/images/uploads/resta...
2,"[Castle BarbequePacific Mall,Tagore Garden, We...","North Indian, Chinese","[Pacific Mall,Tagore Garden, West Delhi]",[4],https://im1.dineout.co.in/images/uploads/resta...
3,[Cafe KnoshThe Leela Ambience Convention Hotel...,"Multi-Cuisine, North Indian, Italian, Contine...","[The Leela Ambience Convention Hotel,Shahdara,...",[4.3],https://im1.dineout.co.in/images/uploads/resta...
4,"[The Barbeque CompanyGardens Galleria,Sector 3...","Barbecue, Chinese, Mughlai, North Indian","[Gardens Galleria,Sector 38A, Noida]",[4.1],https://im1.dineout.co.in/images/uploads/resta...
5,"[India GrillHilton Garden Inn,Saket, South Delhi]","North Indian, Italian, Oriental","[Hilton Garden Inn,Saket, South Delhi]",[3.9],https://im1.dineout.co.in/images/uploads/resta...
6,"[Delhi BarbequeTaurus Sarovar Portico,Mahipalp...","Barbecue, North Indian","[Taurus Sarovar Portico,Mahipalpur, South Delhi]",[3.6],https://im1.dineout.co.in/images/uploads/resta...
7,[The Monarch - Bar Be Que VillageIndirapuram H...,"North Indian, Chinese, Fast Food","[Indirapuram Habitat Centre,Indirapuram, Ghazi...",[3.9],https://im1.dineout.co.in/images/uploads/resta...
8,"[World CafeVibe by The Lalit Traveller,Sector ...","North Indian, Chinese, Continental","[Vibe by The Lalit Traveller,Sector 35, Farida...",[4.2],https://im1.dineout.co.in/images/uploads/resta...
9,"[Indian Grill RoomSuncity Business Tower,Golf ...","North Indian, Mughlai, Barbecue","[Suncity Business Tower,Golf Course Road, Gurg...",[4.3],https://im1.dineout.co.in/images/uploads/resta...
10,"[Mad 4 Bar B QueSector 29, Faridabad]","North Indian, Mughlai","[Sector 29, Faridabad]",[3.9],https://im1.dineout.co.in/images/uploads/resta...
11,"[Barbeque 29NIT, Faridabad]","North Indian, Chinese, Barbecue","[NIT, Faridabad]",[4.2],https://im1.dineout.co.in/images/uploads/resta...
12,[GlasshouseDoubleTree By Hilton Gurugram Baani...,"Multi-Cuisine, Asian, European, Italian, Nort...","[DoubleTree By Hilton Gurugram Baani Square,Se...",[4.1],https://im1.dineout.co.in/images/uploads/resta...

In [14]:
#a python program to scrape weather details for last 24 hours from Tutiempo.net

from urllib.request import  urlopen
import  requests
from  bs4 import BeautifulSoup
import ssl


context = ssl._create_unverified_context()
res = urlopen("https://en.tutiempo.net/delhi.html?data=last-24-hours",
              context=context)
soup = BeautifulSoup(res,"html.parser")

a = []
a = soup.find_all('td', class_="t Temp")
a

ab = []
for abc in a:
    abc = abc.get_text().split('\n')
    ab.append(abc)
    
ab 
t =ab[0:24]  
t #temp


b = []
b = soup.find_all('td', class_="wind")
b

bb = []
for bbc in b:
    bbc = bbc.get_text().split('\n')
    bb.append(bbc)
    
bb

w = bb[0:24]#wind


c = []
c = soup.find_all('td', class_="hr")
c

cb = []
for cbc in c:
    cbc = cbc.get_text().split('\n')
    cb.append(cbc)
    
cb

h=cb[0:24]  
h#humidity


d = []
d = soup.find_all('td', class_="prob")
d

db = []
for dbc in d:
    dbc = dbc.get_text().split('\n')
    db.append(dbc)
    
db

p = db[0:24]  
p  #press

e = []
e = soup.find_all('span' ,class_="thhip ico i0530 u3012")
e

eb = []
for ebc in e:
    ebc = ebc.get_text().split('\n')
    eb.append(ebc)
eb   

es = []
es = soup.find_all('span' ,class_="thhip ico i0530 u303n")
es

for ebs in es:
    ebs = ebs.get_text().split('\n')
    eb.append(ebs)
    
eb
wc=eb[0:24]
wc #weather condition



import pandas as pd
df = pd.DataFrame({'temperature':t,'wind':w ,'weather condition':wc,'humidity':h,'pressure':p})
df

   temperature      wind weather condition humidity    pressure
0       [23°C]  [7 km/h]  [Widespread Fog]    [50%]  [1016 hPa]
1       [23°C]  [6 km/h]  [Widespread Fog]    [53%]  [1016 hPa]
2       [23°C]  [7 km/h]  [Widespread Fog]    [50%]  [1015 hPa]
3       [24°C]  [7 km/h]  [Widespread Fog]    [47%]  [1016 hPa]
4       [24°C]  [7 km/h]  [Widespread Fog]    [47%]  [1016 hPa]
5       [24°C]  [9 km/h]  [Widespread Fog]    [47%]  [1017 hPa]
6       [23°C]  [7 km/h]  [Widespread Fog]    [53%]  [1017 hPa]
7       [22°C]  [7 km/h]  [Widespread Fog]    [60%]  [1018 hPa]
8       [22°C]  [7 km/h]  [Widespread Fog]    [60%]  [1018 hPa]
9       [22°C]  [7 km/h]  [Widespread Fog]    [60%]  [1019 hPa]
10      [23°C]  [9 km/h]  [Widespread Fog]    [61%]  [1019 hPa]
11      [21°C]  [9 km/h]  [Widespread Fog]    [69%]  [1019 hPa]
12      [18°C]  [7 km/h]  [Widespread Fog]    [73%]  [1018 hPa]
13      [16°C]    [Calm]            [Mist]    [82%]  [1018 hPa]
14      [16°C]    [Calm]            [Mist]    [94%]  [1017 hPa]
15      [16°C]    [Calm]            [Mist]    [94%]  [1017 hPa]
16      [16°C]    [Calm]            [Mist]    [94%]  [1017 hPa]
17      [16°C]  [6 km/h]            [Mist]    [88%]  [1017 hPa]
18      [16°C]  [6 km/h]            [Mist]    [88%]  [1016 hPa]
19      [16°C]  [6 km/h]            [Mist]    [88%]  [1016 hPa]
20      [16°C]    [Calm]            [Mist]    [94%]  [1016 hPa]
21      [16°C]    [Calm]            [Mist]    [94%]  [1016 hPa]
22      [16°C]    [Calm]            [Mist]    [94%]  [1017 hPa]
23      [17°C]    [Calm]            [Mist]    [88%]  [1017 hPa]

In [15]:
# a python program to scrape monument name, monument description, image URL from puredestinations.co.uk

import  requests
from  bs4 import BeautifulSoup
page = requests.get('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')
soup = BeautifulSoup(page.content)

monument_name=[]
for m in soup.find_all('div', class_="blog--single__content column--3-4 u-spacing-third"):
    monument_name.append(m.text.split('\n')[3:32:3])

monument_name#name

monument_names=monument_name.pop(0)

monument_names#imp


monument_desc=[]

for md in soup.find_all('div', class_="blog--single__content column--3-4 u-spacing-third"):
    monument_desc.append(md.text.split('\n')[4:35:3])

monument_desc
monument_descs=monument_desc.pop(0)

zx = monument_descs.pop(10)

monument_descs  #imp

vedio = []
for a in soup.find_all('img',class_="alignnone size-full wp-image-36626 lazyload") :
    vedio.append(a['data-src'])
    
for b in soup.find_all('img',class_="alignnone size-full wp-image-36628 lazyload") :
    vedio.append(b['data-src'])
    
for c in soup.find_all('img',class_="alignnone size-full wp-image-36630 lazyload") :
    vedio.append(c['data-src'])
    
for d in soup.find_all('img',class_="alignnone size-full wp-image-36631 lazyload") :
    vedio.append(d['data-src'])
    
for e in soup.find_all('img',class_="alignnone size-full wp-image-36632 lazyload") :
    vedio.append(e['data-src'])
    
for f in soup.find_all('img',class_="alignnone size-full wp-image-36623 lazyload") :
    vedio.append(f['data-src'])
    
for g in soup.find_all('img',class_="alignnone size-full wp-image-36634 lazyload") :
    vedio.append(g['data-src'])
    
for h in soup.find_all('img',class_="alignnone size-full wp-image-36636 lazyload") :
    vedio.append(h['data-src'])
    
for i in soup.find_all('img',class_="alignnone size-full wp-image-36637 lazyload") :
    vedio.append(i['data-src'])
    
for j in soup.find_all('img',class_="alignnone size-full wp-image-36646 lazyload") :
    vedio.append(j['data-src'])
    
    
vedio



import pandas as pd
df = pd.DataFrame({'monument name':monument_names,'monument description':monument_descs,'image URL':vedio})
df

,monument name,monument description,image URL
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",http://www.puredestinations.co.uk/wp-content/u...
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,http://www.puredestinations.co.uk/wp-content/u...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,http://www.puredestinations.co.uk/wp-content/u...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,http://www.puredestinations.co.uk/wp-content/u...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,http://www.puredestinations.co.uk/wp-content/u...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",http://www.puredestinations.co.uk/wp-content/u...
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,http://www.puredestinations.co.uk/wp-content/u...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,http://www.puredestinations.co.uk/wp-content/u...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",http://www.puredestinations.co.uk/wp-content/u...
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,http://www.puredestinations.co.uk/wp-content/u...