# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jay gawande\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\jay gawande\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\jay gawande\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jay gawande\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\jay gawande\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\jay gawande\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\jay gawande\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\jay gawande\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\jay gawande\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jay gawande\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")


driver.get('https://www.naukri.com/')


p = driver.find_element_by_id('qsb-keyword-sugg')
p.send_keys("Data Analyst")
l = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
l.send_keys("Bangalore")

s = driver.find_element_by_xpath("//div[@class='search-btn']/button")

s.click()

In [6]:
jt = []
jl = []
cn = []
er = []

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in titles_tags:
    title = i.text
    jt.append(title)
jt
jt[0:10]
t=jt[0:10]
t

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst III',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Customer Data Management Analyst',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Openings For SQL Data Analyst']

In [7]:
location_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
location_tags
for c in location_tags:
    location= c.text
    jl.append(location)
l =jl[2::3]
l
lc=l[0:7]
lc
lcn =jl[24::4]
lcns = lcn[0:2]
lcnsx= lcn[4]
lcnsx
location = lc+lcns
location.append(lcnsx)
location#imp

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [8]:
#experience

ex=jl[0::3]

e=ex[0:7]
e


ez=jl[22::4]
ezx=ez[0:2]
ezxp=ez[4]

exp=e+ezx
exp.append(ezxp)

exp#imp

['1-6 Yrs',
 '2-4 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-6 Yrs',
 '4-5 Yrs',
 '0-2 Yrs',
 '3-7 Yrs']

In [9]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags
for c in companies_tags:
    companies= c.text
    cn.append(companies)
cn
cnme=cn[0:10]
cnme

['Flipkart',
 'Flipkart',
 'Genpact',
 'Aspect',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Maruti Suzuki India',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'StackNexus Technologies India Pvt. Ltd']

In [10]:
jobs=pd.DataFrame({})
jobs['title']=t
jobs['company']=cnme
jobs['experience_required']=exp
jobs['location']=location

jobs

,title,company,experience_required,location
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst III,Flipkart,2-4 Yrs,Bengaluru/Bangalore
2,Business Analyst/ Data Analyst- Capital Market...,Genpact,7-12 Yrs,"Pune, Bangalore/Bengaluru"
3,Customer Data Management Analyst,Aspect,0-2 Yrs,Bangalore/Bengaluru
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
5,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,3-5 Yrs,"Gurgaon/Gurugram, bangalore"
6,Senior Data Analyst,Rapido,1-6 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,4-5 Yrs,Bengaluru/Bangalore
8,Senior Data Analyst,Flipkart,0-2 Yrs,Bangalore/Bengaluru
9,Openings For SQL Data Analyst,StackNexus Technologies India Pvt. Ltd,3-7 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [18]:


import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")





driver.get('https://www.naukri.com/')


p = driver.find_element_by_id('qsb-keyword-sugg')
p.send_keys("Data Scientist")
l = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
l.send_keys("Bangalore")

s = driver.find_element_by_xpath("//div[@class='search-btn']/button")

s.click()

In [19]:
jt = []
jl = []
cn = []

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in titles_tags:
    title = i.text
    jt.append(title)
jt[0:10]
t=jt[0:10]
t#imp

['Lead / Principal Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Credit Risk',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist 2',
 'Machine Learning AI Data Scientist',
 'Sr. Associate Consultant Data Scientist',
 'Senior Engineer - AIML - Data Scientist']

In [21]:
location_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
for c in location_tags:
    location= c.text
    jl.append(location)
jl
l =jl[2::3]
loc=l[24:34]
loc#imp

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [22]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags
for c in companies_tags:
    companies= c.text
    cn.append(companies)
cn
cnme=cn[0:10]
cnme

['Aviso Inc',
 'Snaphunt',
 'Ally-Executive',
 'Visa',
 'Scienaptic Systems',
 'Samya.AI A FRACTAL Entity',
 'ANI Technologies Pvt. Ltd.',
 'EKO Infomatics Solutions Private Limited',
 'Eli Lilly and Company',
 'Unisys']

In [23]:
jobs=pd.DataFrame({})
jobs['title']=t
jobs['company']=cnme
jobs['location']=loc

jobs

,title,company,location
0,Lead / Principal Data Scientist,Aviso Inc,Bangalore/Bengaluru
1,Data Scientist,Snaphunt,Bangalore/Bengaluru
2,Senior Data Scientist,Ally-Executive,Bangalore/Bengaluru
3,Senior Data Scientist,Visa,Bangalore/Bengaluru
4,Data Scientist - Credit Risk,Scienaptic Systems,"Kolkata, Mumbai, Bangalore/Bengaluru"
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bengaluru/Bangalore
6,Data Scientist 2,ANI Technologies Pvt. Ltd.,Bangalore/Bengaluru
7,Machine Learning AI Data Scientist,EKO Infomatics Solutions Private Limited,Bangalore/Bengaluru
8,Sr. Associate Consultant Data Scientist,Eli Lilly and Company,Bangalore/Bengaluru
9,Senior Engineer - AIML - Data Scientist,Unisys,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."

# Q3: In this question you have to scrape data using the filters available on the webpage

In [24]:

import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")



driver.get('https://www.naukri.com/')


p = driver.find_element_by_id('qsb-keyword-sugg')
p.send_keys("Data Scientist")
l = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
l.send_keys("Delhi/NCR")

s = driver.find_element_by_xpath("//div[@class='search-btn']/button")

s.click()

In [25]:
f = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
f.click()

In [26]:
loc = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc.click()

In [27]:
jt = []
jl = []
cn = []
er = []

In [28]:

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in titles_tags:
    title = i.text
    jt.append(title)
jt[0:10]
t=jt[0:10]
t#imp

['Data Scientist',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Hiring For Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Data Scientist']

In [29]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags
for c in companies_tags:
    companies= c.text
    cn.append(companies)
cn
cnme=cn[0:10]
cnme#imp

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Newgen Software Technologies',
 'Tata Consultancy Services Ltd.',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'iNICU',
 'The Boston Consulting Group (India) Pvt Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'BlackBuck']

In [30]:
location_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
for c in location_tags:
    location= c.text
    jl.append(location)
jl

l =jl[27::3]
l
ln = jl[2]
ln
l.append(ln)
l#imp

['Delhi',
 'Delhi',
 'Delhi',
 'Noida',
 'Delhi',
 'Noida, Ghaziabad, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida(Sector-126 Noida)',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR']

In [31]:
e = jl[25::3]
ex = jl[0]
e.append(ex)
e#imp

['2-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '4-6 Yrs',
 '1-3 Yrs',
 '0-2 Yrs']

In [32]:
jobs=pd.DataFrame({})
jobs['title']=t
jobs['company']=cnme
jobs['experience_required']=e
jobs['location']=l

jobs

,title,company,experience_required,location
0,Data Scientist,LG Electronics India Pvt. Ltd.,2-7 Yrs,Delhi
1,Data Scientist,Navikenz India Pvt Ltd,2-6 Yrs,Delhi
2,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,2-6 Yrs,Delhi
3,Hiring For Data Scientist,Tata Consultancy Services Ltd.,3-6 Yrs,Noida
4,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,1-5 Yrs,Delhi
5,Data Scientist,Teleperformance,0-0 Yrs,"Noida, Ghaziabad, Delhi / NCR"
6,Senior Data Scientist,iNICU,3-7 Yrs,Gurgaon/Gurugram
7,Data Scientist,The Boston Consulting Group (India) Pvt Limited,4-6 Yrs,Noida(Sector-126 Noida)
8,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,1-3 Yrs,Gurgaon/Gurugram
9,Data Scientist,BlackBuck,0-2 Yrs,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,..."

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [ ]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
l = driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
l.send_keys("sunglasses")

In [ ]:
s = driver.find_element_by_xpath("//button[@type='submit']")
s.click()

In [ ]:
jt = []
jl = []
cn = []
er = []

In [ ]:
titles_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in titles_tags:
    title = i.text
    jt.append(title)
    
jt#imp

In [ ]:
pd=[]

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc:
    title = i.text
    pd.append(title)
    
pd#imp

In [ ]:
pr=[]

price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price:
    title = i.text
    pr.append(title)
    
pr#imp

In [ ]:
d=[]

discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discount:
    title = i.text
    d.append(title)
    
d

In [ ]:
p1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
p1.click()

In [ ]:
titles_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in titles_tag:
    title = i.text
    jl.append(title)
    
jl

In [ ]:
pda=[]

product_desca = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desca:
    title = i.text
    pda.append(title)
    
pda#imp

In [ ]:
pra=[]

pricea = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in pricea:
    title = i.text
    pra.append(title)
    
pra#imp

In [ ]:
da=[]

discounta = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discounta:
    title = i.text
    da.append(title)
    
da

In [ ]:
p2 = driver.find_element_by_link_text("3")
p2.click()

In [ ]:
jlx= []

titles_ta = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in titles_ta:
    title = i.text
    jlx.append(title)
    
jlx
jlxz=jlx[0:20]
jlxz

In [ ]:
brand= jt+jl+jlxz
len(brand)

In [ ]:
pdb=[]

product_descb = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_descb:
    title = i.text
    pdb.append(title)
    
pdb#imp

pdbc=pdb[0:25]
pdbc

In [ ]:
prb=[]

priceb = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in priceb:
    title = i.text
    prb.append(title)
    
prb#imp

prbc=prb[0:20]
prbc

In [ ]:
db=[]

discountb = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discountb:
    title = i.text
    db.append(title)
    
db
dbc=db[0:20]

In [ ]:
product_d=pd+pda+pdbc
len(product_d)

In [ ]:
price=pr+pra+prbc
len(price)

In [ ]:
discount=d+da+dbc
len(discount)

In [ ]:
import pandas as pd

sungl=pd.DataFrame({})
sungl['brand']=brand
sungl['product dec']=product_d
sungl['price']=price
sungl['discount']=discount

sungl

In [ ]:
import pandas as pd

sungl=pd.DataFrame({})
sungl['brand']=brand
sungl['product dec']=product_d
sungl['price']=price
sungl['discount']=discount

sungl