# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jay gawande\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\jay gawande\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\jay gawande\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jay gawande\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\jay gawande\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\jay gawande\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\jay gawande\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\jay gawande\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\jay gawande\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\jay gawande\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\jay gawande\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jay gawande\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")


driver.get('https://www.naukri.com/')


p = driver.find_element_by_id('qsb-keyword-sugg')
p.send_keys("Data Analyst")

l = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
l.send_keys("Bangalore")

s = driver.find_element_by_xpath("//div[@class='search-btn']/button")

s.click()

In [6]:
jt = []
jl = []
cn = []
er = []

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in titles_tags:
    title = i.text
    jt.append(title)
jt
jt[0:10]
t=jt[0:10]
t

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst III',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Customer Data Management Analyst',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Openings For SQL Data Analyst']

In [7]:
location_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
location_tags
for c in location_tags:
    location= c.text
    jl.append(location)
l =jl[2::3]
l
lc=l[0:7]
lc
lcn =jl[24::4]
lcns = lcn[0:2]
lcnsx= lcn[4]
lcnsx
location = lc+lcns
location.append(lcnsx)
location#imp

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [8]:
#experience

ex=jl[0::3]

e=ex[0:7]
e


ez=jl[22::4]
ezx=ez[0:2]
ezxp=ez[4]

exp=e+ezx
exp.append(ezxp)

exp#imp

['1-6 Yrs',
 '2-4 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-6 Yrs',
 '4-5 Yrs',
 '0-2 Yrs',
 '3-7 Yrs']

In [9]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags
for c in companies_tags:
    companies= c.text
    cn.append(companies)
cn
cnme=cn[0:10]
cnme

['Flipkart',
 'Flipkart',
 'Genpact',
 'Aspect',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Maruti Suzuki India',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'StackNexus Technologies India Pvt. Ltd']

In [10]:
jobs=pd.DataFrame({})
jobs['title']=t
jobs['company']=cnme
jobs['experience_required']=exp
jobs['location']=location

jobs

,title,company,experience_required,location
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst III,Flipkart,2-4 Yrs,Bengaluru/Bangalore
2,Business Analyst/ Data Analyst- Capital Market...,Genpact,7-12 Yrs,"Pune, Bangalore/Bengaluru"
3,Customer Data Management Analyst,Aspect,0-2 Yrs,Bangalore/Bengaluru
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
5,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,3-5 Yrs,"Gurgaon/Gurugram, bangalore"
6,Senior Data Analyst,Rapido,1-6 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,4-5 Yrs,Bengaluru/Bangalore
8,Senior Data Analyst,Flipkart,0-2 Yrs,Bangalore/Bengaluru
9,Openings For SQL Data Analyst,StackNexus Technologies India Pvt. Ltd,3-7 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [18]:


import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")





driver.get('https://www.naukri.com/')


p = driver.find_element_by_id('qsb-keyword-sugg')
p.send_keys("Data Scientist")
l = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
l.send_keys("Bangalore")

s = driver.find_element_by_xpath("//div[@class='search-btn']/button")

s.click()

In [19]:
jt = []
jl = []
cn = []

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in titles_tags:
    title = i.text
    jt.append(title)
jt[0:10]
t=jt[0:10]
t#imp

['Lead / Principal Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Credit Risk',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist 2',
 'Machine Learning AI Data Scientist',
 'Sr. Associate Consultant Data Scientist',
 'Senior Engineer - AIML - Data Scientist']

In [21]:
location_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
for c in location_tags:
    location= c.text
    jl.append(location)
jl
l =jl[2::3]
loc=l[24:34]
loc#imp

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [22]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags
for c in companies_tags:
    companies= c.text
    cn.append(companies)
cn
cnme=cn[0:10]
cnme

['Aviso Inc',
 'Snaphunt',
 'Ally-Executive',
 'Visa',
 'Scienaptic Systems',
 'Samya.AI A FRACTAL Entity',
 'ANI Technologies Pvt. Ltd.',
 'EKO Infomatics Solutions Private Limited',
 'Eli Lilly and Company',
 'Unisys']

In [23]:
jobs=pd.DataFrame({})
jobs['title']=t
jobs['company']=cnme
jobs['location']=loc

jobs

,title,company,location
0,Lead / Principal Data Scientist,Aviso Inc,Bangalore/Bengaluru
1,Data Scientist,Snaphunt,Bangalore/Bengaluru
2,Senior Data Scientist,Ally-Executive,Bangalore/Bengaluru
3,Senior Data Scientist,Visa,Bangalore/Bengaluru
4,Data Scientist - Credit Risk,Scienaptic Systems,"Kolkata, Mumbai, Bangalore/Bengaluru"
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bengaluru/Bangalore
6,Data Scientist 2,ANI Technologies Pvt. Ltd.,Bangalore/Bengaluru
7,Machine Learning AI Data Scientist,EKO Infomatics Solutions Private Limited,Bangalore/Bengaluru
8,Sr. Associate Consultant Data Scientist,Eli Lilly and Company,Bangalore/Bengaluru
9,Senior Engineer - AIML - Data Scientist,Unisys,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."

# Q3: In this question you have to scrape data using the filters available on the webpage

In [24]:

import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")



driver.get('https://www.naukri.com/')


p = driver.find_element_by_id('qsb-keyword-sugg')
p.send_keys("Data Scientist")
l = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
l.send_keys("Delhi/NCR")

s = driver.find_element_by_xpath("//div[@class='search-btn']/button")

s.click()

In [25]:
f = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
f.click()

In [26]:
loc = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc.click()

In [27]:
jt = []
jl = []
cn = []
er = []

In [28]:

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in titles_tags:
    title = i.text
    jt.append(title)
jt[0:10]
t=jt[0:10]
t#imp

['Data Scientist',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Hiring For Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Data Scientist']

In [29]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags
for c in companies_tags:
    companies= c.text
    cn.append(companies)
cn
cnme=cn[0:10]
cnme#imp

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Newgen Software Technologies',
 'Tata Consultancy Services Ltd.',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'iNICU',
 'The Boston Consulting Group (India) Pvt Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'BlackBuck']

In [30]:
location_tags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
for c in location_tags:
    location= c.text
    jl.append(location)
jl

l =jl[27::3]
l
ln = jl[2]
ln
l.append(ln)
l#imp

['Delhi',
 'Delhi',
 'Delhi',
 'Noida',
 'Delhi',
 'Noida, Ghaziabad, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida(Sector-126 Noida)',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR']

In [31]:
e = jl[25::3]
ex = jl[0]
e.append(ex)
e#imp

['2-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '4-6 Yrs',
 '1-3 Yrs',
 '0-2 Yrs']

In [32]:
jobs=pd.DataFrame({})
jobs['title']=t
jobs['company']=cnme
jobs['experience_required']=e
jobs['location']=l

jobs

,title,company,experience_required,location
0,Data Scientist,LG Electronics India Pvt. Ltd.,2-7 Yrs,Delhi
1,Data Scientist,Navikenz India Pvt Ltd,2-6 Yrs,Delhi
2,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,2-6 Yrs,Delhi
3,Hiring For Data Scientist,Tata Consultancy Services Ltd.,3-6 Yrs,Noida
4,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,1-5 Yrs,Delhi
5,Data Scientist,Teleperformance,0-0 Yrs,"Noida, Ghaziabad, Delhi / NCR"
6,Senior Data Scientist,iNICU,3-7 Yrs,Gurgaon/Gurugram
7,Data Scientist,The Boston Consulting Group (India) Pvt Limited,4-6 Yrs,Noida(Sector-126 Noida)
8,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,1-3 Yrs,Gurgaon/Gurugram
9,Data Scientist,BlackBuck,0-2 Yrs,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,..."

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [87]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [88]:
driver.get('https://www.flipkart.com/')

In [89]:
l = driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
l.send_keys("sunglasses")

In [90]:
s = driver.find_element_by_xpath("//button[@type='submit']")
s.click()

In [91]:
jt = []
jl = []
cn = []
er = []

In [92]:
titles_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in titles_tags:
    title = i.text
    jt.append(title)
    
jt#imp

['VINCENT CHASE',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'PIRASO',
 'New Specs',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'kingsunglasses',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'New Specs',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Singco India',
 'ROYAL SON',
 'PHENOMENAL',
 'PIRASO',
 'Rich Club',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'hipe',
 'ROYAL SON']

In [93]:
pd=[]

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc:
    title = i.text
    pd.append(title)
pd

['by Lenskart UV Protection Aviator Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (59)']

In [94]:
type(pd)

list

In [95]:
pr=[]

price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price:
    title = i.text
    pr.append(title)
    
pr#imp

['₹999',
 '₹759',
 '₹188',
 '₹248',
 '₹200',
 '₹259',
 '₹699',
 '₹426',
 '₹187',
 '₹274',
 '₹189',
 '₹664',
 '₹170',
 '₹179',
 '₹383',
 '₹664',
 '₹474',
 '₹359',
 '₹187',
 '₹999',
 '₹271',
 '₹319',
 '₹187',
 '₹1,415',
 '₹259',
 '₹426',
 '₹449',
 '₹999',
 '₹187',
 '₹181',
 '₹194',
 '₹664',
 '₹299',
 '₹299',
 '₹175',
 '₹999',
 '₹639',
 '₹599',
 '₹287',
 '₹664']

In [96]:
d=[]

discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discount:
    title = i.text
    d.append(title)
    
d

['50% off',
 '62% off',
 '85% off',
 '90% off',
 '87% off',
 '87% off',
 '22% off',
 '78% off',
 '88% off',
 '86% off',
 '82% off',
 '66% off',
 '89% off',
 '88% off',
 '80% off',
 '66% off',
 '78% off',
 '76% off',
 '84% off',
 '50% off',
 '84% off',
 '84% off',
 '88% off',
 '29% off',
 '81% off',
 '84% off',
 '70% off',
 '50% off',
 '88% off',
 '81% off',
 '87% off',
 '66% off',
 '85% off',
 '88% off',
 '64% off',
 '50% off',
 '20% off',
 '25% off',
 '84% off',
 '66% off']

In [97]:
p1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
p1.click()

In [98]:
titles_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in titles_tag:
    title = i.text
    jl.append(title)
    
jl

['Fastrack',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'kingsunglasses',
 'PIRASO',
 'Singco India',
 'AISLIN',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'AISLIN',
 'Rich Club',
 'Lee Topper',
 'PHENOMENAL',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'VINCENT CHASE',
 'kingsunglasses',
 'ROYAL SON',
 'SUNBEE',
 'VINCENT CHASE',
 'Elligator',
 'PIRASO',
 'DEIXELS',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'AISLIN',
 'PHENOMENAL',
 'PHENOMENAL',
 'ROYAL SON',
 'AISLIN']

In [99]:
pda=[]

product_desca = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desca:
    title = i.text
    pda.append(title)
    
pda#imp

['Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Round Sunglasses (50)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Over-sized Sunglasses (60)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Shield, Wayfarer Sunglasses (61)']

In [100]:
pra=[]

pricea = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in pricea:
    title = i.text
    pra.append(title)
    
pra#imp

['₹599',
 '₹639',
 '₹359',
 '₹999',
 '₹259',
 '₹164',
 '₹229',
 '₹446',
 '₹349',
 '₹359',
 '₹258',
 '₹446',
 '₹383',
 '₹276',
 '₹287',
 '₹711',
 '₹261',
 '₹360',
 '₹664',
 '₹664',
 '₹359',
 '₹192',
 '₹359',
 '₹1,179',
 '₹211',
 '₹449',
 '₹276',
 '₹999',
 '₹239',
 '₹299',
 '₹202',
 '₹999',
 '₹649',
 '₹211',
 '₹187',
 '₹498',
 '₹287',
 '₹209',
 '₹359',
 '₹356']

In [101]:
da=[]

discounta = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discounta:
    title = i.text
    da.append(title)
    
da

['25% off',
 '20% off',
 '86% off',
 '60% off',
 '87% off',
 '89% off',
 '67% off',
 '73% off',
 '82% off',
 '76% off',
 '80% off',
 '70% off',
 '61% off',
 '88% off',
 '85% off',
 '64% off',
 '83% off',
 '81% off',
 '66% off',
 '66% off',
 '76% off',
 '82% off',
 '76% off',
 '41% off',
 '82% off',
 '70% off',
 '78% off',
 '50% off',
 '88% off',
 '88% off',
 '83% off',
 '60% off',
 '27% off',
 '83% off',
 '88% off',
 '67% off',
 '85% off',
 '83% off',
 '76% off',
 '81% off']

In [102]:
p2 = driver.find_element_by_link_text("3")
p2.click()

In [103]:
jlx= []

titles_ta = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in titles_ta:
    title = i.text
    jlx.append(title)
    
jlx
jlxz=jlx[0:20]
jlxz

['Elligator',
 'Rich Club',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Rich Club',
 'VINCENT CHASE',
 'Silver Kartz',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'New Specs',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'kingsunglasses',
 'GANSTA',
 'ROZZETTA CRAFT']

In [104]:
brand= jt+jl+jlxz
len(brand)

100

In [82]:
pdb=[]

product_descb = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_descb:
    title = i.text
    pdb.append(title)
    
pdb#imp

['UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Others Round Sunglasses (48)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Shield, Wayfarer Sunglasses (61)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...']

In [105]:
prb=[]

priceb = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in priceb:
    title = i.text
    prb.append(title)
    
prb#imp

['₹318',
 '₹284',
 '₹270',
 '₹698',
 '₹299',
 '₹396',
 '₹245',
 '₹1,533',
 '₹233',
 '₹599',
 '₹291',
 '₹1,179',
 '₹169',
 '₹276',
 '₹235',
 '₹426',
 '₹299',
 '₹279',
 '₹209',
 '₹426']

In [107]:
db=[]

discountb = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discountb:
    title = i.text
    db.append(title)
    
db

In [108]:
type(pd)

list

In [114]:
product_d = pd + pda + pdb

p=product_d[0:100]
len(p)

100

In [115]:
pricee=pr+pra+prb
price=pricee[0:100]
len(price)

100

In [116]:
discount=d+da+db
d=discount[0:100]
len(d)

100

In [117]:
import pandas as pd

sungl=pd.DataFrame({})
sungl['brand']=brand
sungl['product dec']=p
sungl['price']=price
sungl['discount']=d

sungl

,brand,product dec,price,discount
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹759,62% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹426,85% off
96,kingsunglasses,"UV Protection, Gradient Oval Sunglasses (58)",₹299,81% off
97,kingsunglasses,"Mirrored, UV Protection, Riding Glasses, Other...",₹279,83% off
98,GANSTA,"UV Protection Shield, Wayfarer Sunglasses (61)",₹209,88% off
99,ROZZETTA CRAFT,"UV Protection, Night Vision, Riding Glasses, G...",₹426,78% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the lin

In [153]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [154]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYL0BETT&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_2_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_7_na_na_na&fm=SEARCH&iid=de93aac8-198a-4959-8e26-845950d1b666.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=d9xz9hx1k00000001639905478546&qH=f6cdfdaa9f3c23f3')

In [155]:
review_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")

In [156]:
review_btn.click()

In [157]:
r=[]
rs=[]
fr=[]

In [158]:

rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
r

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [159]:
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)
rs

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [160]:
freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)    
fr

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [161]:
p2 = driver.find_element_by_link_text("2")
p2.click()

In [162]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [163]:
p3 = driver.find_element_by_link_text("3")
p3.click()

In [164]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [165]:
p4 = driver.find_element_by_link_text("4")
p4.click()

In [166]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [167]:
p5 = driver.find_element_by_link_text("5")
p5.click()

In [168]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [169]:
p6 = driver.find_element_by_link_text("6")
p6.click()

In [170]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [171]:
p7 = driver.find_element_by_link_text("7")
p7.click()

In [139]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [172]:
p8 = driver.find_element_by_link_text("8")
p8.click()

In [173]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [174]:
p9 = driver.find_element_by_link_text("9")
p9.click()

In [175]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [176]:
p10 = driver.find_element_by_link_text("10")
p10.click()

In [177]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [184]:
p11 = driver.find_element_by_link_text("11")
p11.click()

In [185]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [186]:
p12 = driver.find_element_by_link_text("12")
p12.click()

In [187]:
rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    title = i.text
    r.append(title)
    
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review:
    title = i.text
    rs.append(title)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    title = i.text
    fr.append(title)

In [188]:
rating=r[0:100]
resu=rs[0:100]
fure=fr[0:100]

In [190]:
import pandas as pd

i11=pd.DataFrame({})
i11['rating']=rating
i11['review_summary']=resu
i11['full_review']=fure

i11

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,3,Awesome,The phone is completely good\nAs far as camera...
97,5,Decent product,Everything u ll like it when u use this iPhone...
98,3,Awesome,Can’t beat the software and hardware integrati...
99,4,Does the job,phone is good but in display is 720p lcd in th...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.

In [195]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")


driver.get('https://www.flipkart.com/')

In [196]:
l = driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
l.send_keys("sneakers")

In [197]:
s = driver.find_element_by_xpath("//button[@type='submit']")
s.click()

In [198]:
b=[]
pd=[]
pr=[]
d=[]

In [199]:
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand:
    title = i.text
    b.append(title)    

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc:
    title = i.text
    pd.append(title)

price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price:
    title = i.text
    pr.append(title)

discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discount:
    title = i.text
    d.append(title)

In [200]:
p2 = driver.find_element_by_link_text("2")
p2.click()

In [203]:
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand:
    title = i.text
    b.append(title)    

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc:
    title = i.text
    pd.append(title)

price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price:
    title = i.text
    pr.append(title)

discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discount:
    title = i.text
    d.append(title)

In [204]:
p3 = driver.find_element_by_link_text("3")
p3.click()

In [205]:
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand:
    title = i.text
    b.append(title)    

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc:
    title = i.text
    pd.append(title)

price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price:
    title = i.text
    pr.append(title)

discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in discount:
    title = i.text
    d.append(title)

In [206]:
br=b[0:100]
prd=pd[0:100]
pri=pr[0:100]
dis=d[0:100]

In [207]:
import pandas as pd

sn=pd.DataFrame({})
sn['brand']=br
sn['product_decription']=prd
sn['price']=pri
sn['discount']=dis
sn

,brand,product_decription,price,discount
0,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
1,URBANBOX,White Sneaker For Men's/Boy's Sneakers For Men,₹220,77% off
2,Shoes Bank,Synthetic Leather Casual Partywear Wedding Sne...,₹331,66% off
3,T-ROCK,Sports Running Shoes Sneakers For Men,₹379,62% off
4,BIRDE,Sneakers For Men,₹299,40% off
...,...,...,...,...
95,PUMA,men's black sneakers lace-up trendy casual Sne...,"₹3,799",62% off
96,India hub,Casual Shoes Slip On Sneakers For Men Sneakers...,₹449,77% off
97,Strollin,Fashion Outdoor Canvas Casual Light Weight Lac...,₹415,58% off
98,BRUTON,Combo Pack of 3 Casual Shoes (Sneakers Shoes) ...,₹536,78% off
99,PUMA,Sneakers For Men,"₹1,047",62% off

# Q7: Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [208]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

In [209]:
driver=webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [210]:
driver.get("https://www.myntra.com/shoes")

In [212]:
src=driver.find_element_by_xpath("//ul//li[@class='colour-listItem']")

srcp=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")

In [213]:
src.click()

In [214]:
srcp.click()

In [215]:
next_btnmm=driver.find_element_by_xpath("//a[@rel='next']")

In [216]:
Brand_Shoee=[]
Prodct_Dess=[]
Price_shoee=[]

In [217]:
shoebb=driver.find_elements_by_xpath("//h3[@class='product-brand']")

shoepp=driver.find_elements_by_xpath("//h4[@class='product-product']")

shoepric=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

In [218]:
for bb in shoebb:
    bb1=bb.text
    Brand_Shoee.append(bb1)
    
for pp in shoepp:
    pp1=pp.text
    Prodct_Dess.append(pp1)
    
for ic in shoepric:
    ic1=ic.text
    Price_shoee.append(ic1)

In [219]:
next_btnmm.click()

In [220]:
Brand_Shoee1=[]
Prodct_Dess1=[]
Price_shoee1=[]

In [221]:
shoebb1=driver.find_elements_by_xpath("//h3[@class='product-brand']")

shoepp1=driver.find_elements_by_xpath("//h4[@class='product-product']")

shoepric1=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

In [222]:
for o in shoebb1:
    o1=o.text
    Brand_Shoee1.append(o1)

In [224]:
for e in shoepp1:
    e1=e.text
    Prodct_Dess1.append(e1)

In [225]:
for p in shoepric1:
    p1=p.text
    Price_shoee1.append(p1)

100 150 100

In [226]:
fb=Brand_Shoee+Brand_Shoee1
fpd=Prodct_Dess+Prodct_Dess1
fpric=Price_shoee+Price_shoee1

In [230]:
fba=fb[0:100]
fpda=fpd[0:100]
fprica=fpric[0:100]
print(len(fba),len(fpda),len(fprica))

100 100 100

In [231]:
df=pd.DataFrame({'Brand':fba,'Product Des':fpda,'Price':fprica})
df

             Brand                     Product Des               Price
0            ASICS         Men GEL-KAYANO 27 Shoes  Rs. 10499Rs. 14999
1             Puma  Men Deviate Nitro Running Shoe   Rs. 8249Rs. 14999
2             Puma               Men Running Shoes   Rs. 6499Rs. 12999
3             Puma       Men Magnify Nitro Running   Rs. 7799Rs. 12999
4             Nike      Men Waffle One SE Sneakers            Rs. 8295
..             ...                             ...                 ...
95           ASICS  Men Gel-Excite 8 Running Shoes            Rs. 6499
96           ASICS     Men GEL-Game 8 Tennis Shoes            Rs. 6999
97        DAVINCHI             Solid Slip On Shoes            Rs. 7990
98        DAVINCHI     Men Formal Leather Slip-Ons            Rs. 8990
99  Pavers England    Men Textured Leather Loafers           Rs. 10999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [272]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

In [273]:
driver=webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [274]:
driver.get('https://www.amazon.in/?tag=msndeskabkin-21&hvadid=72705384051703&hvqmt=e&hvbmt=be&hvdev=c&ref=pd_sl_7qhce485bd_e')

In [275]:
scrht=driver.find_element_by_id('twotabsearchtextbox')
scrht.send_keys('Laptop')

In [276]:
srchb=driver.find_element_by_id('nav-search-submit-button')
srchb.click()

In [277]:
tbuton=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[10]/span/a/div/label/input")

In [279]:
i7btn=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a")

In [280]:
i9btn=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']/li[11]/span/a")

In [281]:
i7btn.click()

In [282]:
i7titu=[]
i7rati=[]
i7pric=[]

In [283]:
#i7titu.clear()

In [285]:
shoebb=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a/span")

In [286]:
for ti in shoebb[:10]:
    ti1=ti.text[:40]
    i7titu.append(ti1)
i7titu

['Lenovo ThinkBook Yoga 14s Intel Core i7 ',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3',
 'Mi Notebook Horizon Edition 14 Intel Cor',
 'Mi Notebook Pro QHD+ IPS Anti Glare Disp',
 'HP Pavilion (2021) Intel 11th Gen Core i',
 'Lenovo ThinkBook 15 Intel 11th Gen Core ',
 'Mi Notebook Ultra 3.2K resolution displa',
 'HP Pavilion 13, 11th Gen Intel Core i7, ',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.',
 'Lenovo Legion 5 11th Gen Intel Core i7 1']

In [309]:
Ratings=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:                                                                    
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        Ratings.append(rating.text)
        
    except NoSuchElementException:
        Ratings.append("NO rating")

In [310]:
shoeppr=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [311]:
pric=[]
for pp in shoeppr[:10]:
    pp1=pp.text
    pric.append(pp1)
pric

['',
 '',
 '',
 '',
 '59,990.',
 '68,990.',
 '66,490.',
 '74,710.',
 '68,989.',
 '58,990']

In [312]:
df2=pd.DataFrame({'Title':i7titu,'Rating':Ratings,'Price':pric})
df2

                                      Title        Rating    Price
0  Lenovo ThinkBook Yoga 14s Intel Core i7   4.3 out of 5
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3  4.1 out of 5
2  Mi Notebook Horizon Edition 14 Intel Cor  4.1 out of 5
3  Mi Notebook Pro QHD+ IPS Anti Glare Disp  4.5 out of 5
4  HP Pavilion (2021) Intel 11th Gen Core i  4.5 out of 5  59,990.
5  Lenovo ThinkBook 15 Intel 11th Gen Core   4.6 out of 5  68,990.
6  Mi Notebook Ultra 3.2K resolution displa  4.6 out of 5  66,490.
7  HP Pavilion 13, 11th Gen Intel Core i7,     5 out of 5  74,710.
8  ASUS TUF Dash F15 (2021), 15.6-inch (39.    5 out of 5  68,989.
9  Lenovo Legion 5 11th Gen Intel Core i7 1  4.5 out of 5   58,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:

In [313]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

In [320]:
driver=webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [321]:
driver.get("https://www.ambitionbox.com/")

In [322]:
jobtn=driver.find_element_by_xpath("//a[@class='link jobs']")

In [323]:
jobtn.click()

In [324]:
srchjob=driver.find_element_by_xpath("//input[@class='input tt-input']")
srchjob.send_keys("Data Scientist")

In [325]:
srchbtn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [326]:
srchbtn.click()

In [327]:
srchlocc=driver.find_element_by_xpath("//div[2][@class='filter-item']")

In [328]:
srchlocc.click()

In [329]:
srchinput=driver.find_element_by_xpath("//input[@placeholder='Search locations']")
srchinput.send_keys("Noida")

In [330]:
clicjbtn=driver.find_element_by_xpath("//input[@id='location_Noida']")

In [331]:
clicjbtn.click()

In [332]:
shoebb11=driver.find_elements_by_xpath("//p[@class='company body-medium']")

shoerat=driver.find_elements_by_xpath("//span[@class='body-small']")

shoepot=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")

In [333]:
gh=[]
for i in shoebb11:
    i1=i.text
    gh.append(i1)
gh

['LG Electronics India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'GENPACT India Private Limited',
 'Paytm',
 'GI Group',
 'GI Group',
 'GI Group',
 'Steria India Ltd']

In [334]:
rat=[]
for rat1 in shoerat:
    rat2=rat1.text
    rat.append(rat2)
rat

['4.1', '4.0', '4.0', '3.8', '4.0', '3.7', '4.0', '4.0', '4.0', '4.1']

In [335]:
post=[]
for po in shoepot:
    po1=po.text
    post.append(po1)
post

['10d ago',
 '16d ago',
 '17d ago',
 '18d ago',
 '18d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '1mon ago']

In [336]:
df=pd.DataFrame({'Compny Name':gh,'Rating Of Company':rat,'No Of Days Job Posted':post})
df

                           Compny Name Rating Of Company No Of Days Job Posted
0       LG Electronics India Pvt. Ltd.               4.1               10d ago
1        GENPACT India Private Limited               4.0               16d ago
2        GENPACT India Private Limited               4.0               17d ago
3  NTT Data Business Solutions Pvt Ltd               3.8               18d ago
4        GENPACT India Private Limited               4.0               18d ago
5                                Paytm               3.7                3d ago
6                             GI Group               4.0                3d ago
7                             GI Group               4.0                3d ago
8                             GI Group               4.0                3d ago
9                     Steria India Ltd               4.1              1mon ago

# Q10: Write a python program to scrape the salary data for Data Scientist designation. 
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [352]:
import warnings
warnings.filterwarnings('ignore')


import selenium
import pandas as pd
from selenium import webdriver

In [353]:
driver=webdriver.Chrome(r"C:/Users/Jay gawande/Downloads/chromedriver_win32/chromedriver.exe")

In [354]:
driver.get("https://www.ambitionbox.com/")

In [355]:
sal=driver.find_element_by_xpath("//a[@class='link salaries']")

In [356]:
sal.click()

In [357]:
srchnm=driver.find_element_by_xpath("//input[@class='tt-input']")
srchnm.send_keys("Data Scientist")

In [360]:
dept=driver.find_element_by_xpath("//i[1][@class='icon-search']")

In [361]:
dept.click()

In [362]:
srchbtn=driver.find_element_by_xpath("//div[@class='ab_chip active sbold-list-header']")

In [363]:
srchbtn.click()

In [364]:
shoepnam=driver.find_elements_by_xpath("//div[@class='name']/a")

In [365]:
comnam=[]
for am in shoepnam:
    am1=am.text
    comnam.append(am1)
comnam

['Tekion',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Flipkart',
 'Amazon',
 'Arcesium',
 'Servicenow Software Development India',
 'ServiceNow',
 'Walmart',
 'PayPal']

In [366]:
shoeprec=driver.find_elements_by_xpath("//div[@class='name']/span")

In [367]:
rec=[]
for ec in shoeprec:
    ec1=ec.text
    rec.append(ec1)
rec

['based on 10 salaries',
 'based on 218 salaries',
 'based on 11 salaries',
 'based on 53 salaries',
 'based on 80 salaries',
 'based on 35 salaries',
 'based on 27 salaries',
 'based on 15 salaries',
 'based on 77 salaries',
 'based on 12 salaries']

In [369]:
shoemin=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")

In [370]:
min1=[]
for mi in shoemin:
    mi1=mi.text
    min1.append(mi1)
min1

['₹ 14.0L',
 '₹ 12.0L',
 '₹ 16.0L',
 '₹ 7.0L',
 '₹ 8.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 12.7L',
 '₹ 10.0L',
 '₹ 12.0L']

In [371]:
shoemax=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")

In [372]:
max1=[]
for ax in shoemax:
    ax1=ax.text
    max1.append(ax1)
max1

['₹ 32.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 40.0L',
 '₹ 30.0L',
 '₹ 25.0L',
 '₹ 23.0L',
 '₹ 32.0L',
 '₹ 23.0L']

In [373]:
shoeavg=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']/p")

In [374]:
avg=[]
for vg in shoeavg:
    vg1=vg.text
    avg.append(vg1)
avg

['₹ 23.3L',
 '₹ 22.4L',
 '₹ 21.9L',
 '₹ 20.6L',
 '₹ 19.1L',
 '₹ 18.4L',
 '₹ 18.2L',
 '₹ 18.2L',
 '₹ 17.9L',
 '₹ 17.6L']

In [375]:
shoeexp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

In [376]:
exp=[]
for xp in shoeexp:
    xp1=xp.text.split('\n')
    exp.append(xp1[2])
exp

['4 yrs exp',
 '1-4 yrs exp',
 '2 yrs exp',
 '1-4 yrs exp',
 '1-4 yrs exp',
 '1 yr exp',
 '2-3 yrs exp',
 '3 yrs exp',
 '1-4 yrs exp',
 '1 yr exp']

In [377]:
df1=pd.DataFrame({'Company Name':comnam,'Experience':exp,'Salary Record':rec,'Min Sal':min1,'Avg Sal':avg,'Max Sal':max1})
df1

,Company Name,Experience,Salary Record,Min Sal,Avg Sal,Max Sal
0,Tekion,4 yrs exp,based on 10 salaries,₹ 14.0L,₹ 23.3L,₹ 32.0L
1,Microsoft Corporation,1-4 yrs exp,based on 218 salaries,₹ 12.0L,₹ 22.4L,₹ 45.0L
2,Goldman Sachs,2 yrs exp,based on 11 salaries,₹ 16.0L,₹ 21.9L,₹ 30.0L
3,Flipkart,1-4 yrs exp,based on 53 salaries,₹ 7.0L,₹ 20.6L,₹ 30.0L
4,Amazon,1-4 yrs exp,based on 80 salaries,₹ 8.0L,₹ 19.1L,₹ 40.0L
5,Arcesium,1 yr exp,based on 35 salaries,₹ 12.0L,₹ 18.4L,₹ 30.0L
6,Servicenow Software Development India,2-3 yrs exp,based on 27 salaries,₹ 12.0L,₹ 18.2L,₹ 25.0L
7,ServiceNow,3 yrs exp,based on 15 salaries,₹ 12.7L,₹ 18.2L,₹ 23.0L
8,Walmart,1-4 yrs exp,based on 77 salaries,₹ 10.0L,₹ 17.9L,₹ 32.0L
9,PayPal,1 yr exp,based on 12 salaries,₹ 12.0L,₹ 17.6L,₹ 23.0L